.btn-guardar {
  margin: -58px 0 0 380px;
}

.centrarSalir{
    margin-top: 0px;
    margin-left: 300px
      }

      .btn-guardarMateri{
      	margin: 20px 0 0 250px;
      }
.margin-top-10px{
	margin-top: 10px;
}